<h1>{{ object.name }}</h1>
<ul>
{% for product in object.product_set.all %}
    <li>
        {{ product.name }}
        {{ product.price }}
        <img src="{{ product.photo.url }}" height="100">
    </li>
{% endfor %}
</ul>
