<h1>Products</h1>
<ul>
{% for product in object_list %}
    <li>{{ product.name }} - {{ product.price }} - {{ product.description }}</li>
    <img src="{{ product.photo.url }}">
{% empty %}
    <li>No products yet.</li>
{% endfor %}
</ul>